h1 {
    font-family: "Lobster", cursive;
    text-align: center;
    font-size: 50px;
}

body {
    font-family: "Kiwi Maru", serif;
    background-color: #feffde;
}

ol {
    max-width: 500px;
    border-style: solid;
    border-radius: 1%;
    margin-left: 200px;
    margin-top: 50px;
}

/* table {
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    border: 1px solid black;
} */

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

footer{
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
}